body{
    background-color:antiquewhite;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#country-dropdown{
    background-color: lightblue;
    height: 400px;
    width: 300px;
    overflow-y: scroll;
}
#canvas-container-container{
    width: 75vw;
}

#id{
    height: 100vh;
    width: 100%;
    background-image: url('background-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat:
}

